@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;1,200&display=swap');

*{
    padding: 0;
    margin: 0;
}

.body{
    /* background-image:url("/Snake\ Minimalism.jpg") ; */
   background: url(../Snake\ Minimalism.jpg);
   height: 100vh;
   width: 100vw; 
   background-size: cover;
   background-repeat: no-repeat;
   display: flex;
   justify-content: center;
   align-items: center;
  
}

#scoreBox{
    position: absolute;
    top: 10px;
    right: 200px;
    font-size: 40px;
    font-family:'Fira Sans', sans-serif;;
}

#board{
    background: linear-gradient(rgb(227, 240, 54),rgb(43, 216, 43));
    width: 90vmin;
    height: 85vmin;
    border: 3px solid black;
    border-radius: 12px;
    display: grid;
    grid-template-rows: repeat(18,1fr); 
    grid-template-columns: repeat(18,1fr);
}

.head{
    background:linear-gradient(rgba(255, 0, 0, 0.759),rgba(255, 128, 0, 0.499));
    border: 2px solid rgb(34, 4, 34);
    border-radius: 11px;
}

.food{
    background-color: rgba(102, 7, 244, 0.796);
    border: .25vmin solid rgb(0, 0, 0);
    border-radius: 15px;
}

.tail{
    background-color: rgba(240, 79, 25, 0.618);
    border: .25vmin solid hwb(0 0% 100%);
    border-radius: 60px;
}

